@model IEnumerable<Library_Management.Models.BorrowedBook>

@{
	ViewData["Title"] = "My Borrowed Books";
}

<h2 class="text-center mb-5">My Borrowed Books</h2>

<table class="table">
	<tr>
		<th>Book</th>
		<th>Subsidiary</th>
		<th>Borrowed Date</th>
		<th>Return Date</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.BookSubsidiary.Book.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BookSubsidiary.Subsidiary.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BorrowedDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ReturnDate)
			</td>
		</tr>
	}
</table>