@using Microsoft.AspNetCore.Identity
@using Library_Management.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		if (User.IsInRole("admin"))
		{
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Users</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" asp-area="" asp-controller="User" asp-action="UnwelcomeUsers">Unwelcome Users</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" asp-area="" asp-controller="BorrowedBook" asp-action="Index">Borrowed Books</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" asp-area="" asp-controller="Subsidiary" asp-action="Index">Subsidiaries</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" asp-area="" asp-controller="BookSubsidiary" asp-action="Index">Books-Subsidiaries</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" asp-area="" asp-controller="Author" asp-action="Index">Authors</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" asp-area="" asp-controller="Publisher" asp-action="Index">Publishers</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" asp-area="" asp-controller="Genre" asp-action="Index">Genres</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
					</li>
				</ul>
			</li>
		}
		else if (User.IsInRole("client"))
		{
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Client</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
					</li>
				</ul>
			</li>
		}
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" id="login" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
		</li>
	}
</ul>