@{
	ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<address>
	<strong>Phone:</strong> 0712 345 678
	<br />
	<strong>Email:</strong> <a href="mailto:bibliotecha@gmail.com">bibliotecha@gmail.com</a>
</address>